.searchBox {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.searchBoxLabel {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.searchBox input {
  padding: 8px 10px;
  border: 2px solid black;
  font-size: 16px;
  outline: none;
}
