.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.formCard {
  padding: 32px;
  border-radius: 16px;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 500;
  margin-bottom: 24px;
  text-align: center;
}
