.userList {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .userItem {
    width: 100%;
  }
}