.userList {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc((100% - 45px) / 4);
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

@media screen and (max-width: 1040px) {
  .userItem {
    flex-direction: column;
    width: calc((100% - 45px) / 2);
    gap: 50px;
    padding: 30px 15px;
  }
}
